html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  color: #623b0c;
}

a {
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  border-radius: .5rem;
  padding: .5rem;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

ol li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  padding: 1rem 1em 1em;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h2 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: "Denk One", sans-serif;
}

img {
  width: 100%;
}

body {
  background-color: #f5f2f0;
  margin: 0;
  padding: 1rem;
}

h1 {
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-family: "Denk One", sans-serif;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}
